body {
  margin: 1.5rem 0 0 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(233, 229, 215);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 0.3em;
  color: rgb(59, 53, 53);
}
h1 {
  font-size: 1.5rem;
}

.form {
  max-width: 16rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.list {
  margin-bottom: 1em;
  line-height: 1.6;
}

.blogform {
  margin-top: 0.75em;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  background: gray;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
  line-height: 1.1;
  white-space: nowrap;
  text-decoration: none;
  padding-bottom: 0.3em;
  margin-top: 0.5em;
  margin-left: 0.3em;
  cursor: pointer;
}

button:hover {
  background: rgb(156, 156, 156);
}

.submit {
  margin-left: 15.7em;
  background: steelblue;
}

.submit:hover {
  background: rgb(84, 152, 207);
}

.login {
  margin: 0;
  margin-top: 0.5em;
}

.logout {
  cursor: pointer;
  font-size: 0.65rem;
  font-family: system-ui, sans-serif;
  padding-top: 0;
  line-height: 1;
  background: gray;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 1em;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 1em;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.smtext {
  font-size: 0.75rem;
  font-family: system-ui, sans-serif;
  color: #03233f;
  margin-bottom: 0.3em;
}
